<?xml version='1.0' encoding='utf-8'?>
<plugin id="miplugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>miplugin</name><js-module name="miplugin" src="www/miplugin.js"><clobbers target="cordova.plugins.miplugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="miplugin"><param name="android-package" value="miplugin.miplugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/miplugin.java" target-dir="src/miplugin/miplugin" /></platform></plugin>